.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main {
  border: 1px solid grey;
  border-radius: 3%;
  height: 320px;
  width: 230px; 
  overflow: hidden;
  position: relative;
}

#menu {
  position: absolute;
  top: 0px;
  left: 4px;
  color: darkgrey;
}

span {
  display: inline-block;
  border-radius: 50%;
  background-color:  #606263;
  margin: 4px;
  margin-top: 5px;
  width: 12px;
  height: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.7;
}

#menu:hover > span {
  color: #383c46;
}

span:first-of-type {
  background-color: #FF5F58;
  color: #FF5F58;
}

span:nth-of-type(2) {
  background-color:#FEBC2E;
  color:#FEBC2E;
}

span:last-of-type {
  background-color: #29C83F;
  color: #29C83F;;
}

#container {
  height: 75.5%;
}

button {
  background-color: #7A7C7D;
  width: 100%;
  border: 0.5px solid rgb(49, 47, 47);
  color: beige;
  font-size: 24px;
}

.row {
  display: flex;
  height: 20%;
}

.row:first-of-type > button {
  font-size: 19px;
}

.row > button:first-child {
  border-left: none;
}

.row > button:last-child {
  border-right: none;
  font-size: 28px;
}

#field {
  text-align: right;
  margin: 2px;
  height: 58px;
  font-size: 50px;
  font-weight: 200;
  padding-top: 18px;
  padding-right: 10px;
}

#big {
  width: 221%;
}

.orange {
  background-color: #FF9F0C;
}

.darkgrey {
  background-color: #606263;
}